html {
    background-image: linear-gradient(to bottom right, rgb(11, 89, 93),rgb(18, 19, 19));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: auto;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    color: lightcyan;
}

#border {
    border-width: 4px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        rgba(0, 0, 0, .75),
        rgba(122, 241, 241, .4), 
        rgba(122, 241, 241, 0)
      ) 0 100%;
      border-top: 0;
      border-bottom: 0;
      border-right: 0;
}

footer {
    text-align: center;
    margin-top: auto;
    color: gainsboro;
}

* {
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
    /* border: 1px solid red;*/
}

/* For desktop: */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.logo {
    float: left;
    padding: 15px;
    text-align: center;
    color: lightcyan;
    font-size: large;
    width: 50%;
}

#third-end {
    width: 33%;
}

#third-mid {
    width: 34%;
}

#logoImg {
    width: 50%;
    max-width: 100px;
    height: auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.button {
    transition: .2s;
    transform-origin: 50% 50%;
}

.button:hover {
    transform: scale(1.1);
}