<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Trevor Wiers</title>

        <link rel="stylesheet" href="static/style.css">

    </head>
    <body id="border">
        <header>
            <svg width=100% height="55">
                <linearGradient id="myLinearGradient">
                    <stop offset="1%" stop-color="black" />
                    <stop offset="50%" stop-color="rgba(122, 241, 241, .4)" />
                    <stop offset="95%" stop-color="rgba(122, 241, 241, 0)" />
                </linearGradient>
                <rect x="0" y="0" width=95% height="4" fill="url(#myLinearGradient)"
                style="opacity: 75%" />
                <rect x="0" y="20" width=75% height="4" fill="url(#myLinearGradient)"
                style="opacity: 75%" />
                <rect x="0" y="40" width=55% height="4" fill="url(#myLinearGradient)"
                style="opacity: 75%" />
            </svg>
            {% block header %}
            {% endblock %}
        </header>
            {% block content %}
            {% endblock %}
        <footer>
            <p>
                trevor.t.wiers@gmail.com
                <br>
                (219) 798-0234
            </p>
        </footer>
    </body>
</html>