{% extends "main/base.html" %}

{% block header %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-4">
        <div class="row">
            <div class="col-12" style="font-size: 55px;text-align: center;">
                Trevor Wiers
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div style="text-align: center;">
                    <p>
                        (219) 798-0234<br>
                        trevor.t.wiers@gmail.com
                    </p>
                    <br>
                </div>
                <div style="text-align: left;">
                    <p>- Full stack developer with experience in both web and application programming</p>
                    <p>- Knowledge of Digital Signal Processing</p>
                    <p>- Cleaning and analysing data</p>
                </div>
            </div>
        </div>

    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-6" style="height:300px">
                <svg class="button" width="100%" height="100%" onclick="location.href='grit-eq'">
                    <rect x="5%" y="5%" rx="20" ry="20" width=90% height=90%
                    style="fill:url(#myFill);stroke:url(#myLinearGradient);stroke-width:4px;" />
                    <text x="50%" y="12.5%" text-anchor="middle" fill="url(#myTextFill)" filter="url(#f1)">Grit-EQ</text>
                    <image x="12.5%" y="17.5%" href="static/grit-eq.png" width=75% height=65% filter="url(#f1)" />
                    <text x="50%" y="90%" text-anchor="middle" fill="url(#myTextFill)" filter="url(#f1)">View/Code</text>
                </svg>
            </div>
            <div class="col-6" style="height:300px">
                <svg class="button" width="100%" height="100%" onclick="location.href='spectro'">
                    <rect x="5%" y="5%" rx="20" ry="20" width=90% height=90%
                    style="fill:url(#myFill);stroke:url(#myLinearGradient);stroke-width:4px;" />
                    <text x="50%" y="12.5%" text-anchor="middle" fill="url(#myTextFill)" filter="url(#f1)">Spectro</text>
                    <image x="12.5%" y="17.5%" href="static/spectro.png" width=75% height=65% filter="url(#f1)" />
                    <text x="50%" y="90%" text-anchor="middle" fill="url(#myTextFill)" filter="url(#f1)">View/Code</text>
                </svg>
            </div>
        </div>
        <div class="row">
            <div class="col-6" style="height:300px">
                <svg class="button" width="100%" height="100%" onclick="location.href='https://github.com/trevor-wiers/portfolio-site'">
                    <rect x="5%" y="5%" rx="20" ry="20" width=90% height=90%
                    style="fill:url(#myFill);stroke:url(#myLinearGradient);stroke-width:4px;" />
                    <text x="50%" y="12.5%" text-anchor="middle" fill="url(#myTextFill)" filter="url(#f1)">This Website</text>
                    <image x="12.5%" y="17.5%" href="static/this-website.png" width=75% height=65% filter="url(#f1)" />
                    <text x="50%" y="90%" text-anchor="middle" fill="url(#myTextFill)" filter="url(#f1)">Code</text>
                </svg>
            </div>
            <div class="col-6">
                <div class="row" style="height:150px" >
                    <div class="logo" id="third-end">
                        <img src="static/python-logo.png" id="logoImg">
                        <br>
                        Python
                    </div>
                    <div class="logo" id="third-mid">
                        <img src="static/c++-logo.png" id="logoImg">
                        <br>
                        C++
                    </div>
                    <div class="logo" id="third-end">
                        <img src="static/html-logo.png" id="logoImg">
                        <br>
                        HTML
                    </div>
                </div>
                <div class="row" style="height:150px">
                    <div class="logo" id="third-end">
                        <img src="static/django-logo.png" id="logoImg">
                        <br>
                        Django
                    </div>
                    <div class="logo" id="third-mid">
                        <img src="static/juce-logo.png" id="logoImg">
                        <br>
                        JUCE
                    </div>
                    <div class="logo" id="third-end">
                        <img src="static/css-logo.png" id="logoImg">
                        <br>
                        CSS
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}