{% extends "main/base.html" %}

{% block header %}
<h1>Trevor Wiers</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-3">
        <h2>About</h2>
        <p>Programmer</p>
    </div>
    <div class="col-9">
        <h2>Portfolio</h2>
        <h3>Grit-EQ</h3>
        <p>
            Grit-EQ is an audio plugin that adds saturation to the frequencies that are added or subtracted from the original signal.
        </p>
        <div class="row">
            <div class="col-6">
                <img src="static/grit-eq.png" style="width:100%;height:auto;">
            </div>
            <div class="col-6" style="color:azure">
                Input gain<br>
                Low Shelf w/ gain, frequency, and Q factor<br>
                x4: Bell w/ gain, frequency, and Q factor<br>
                High Shelf w/ gain, frequency, and Q factor<br>
                Output gain<br>
                Grit Factor, how many times the saturation is applied<br>
                <br>
                Offset - When enabled, audio levels are not directly affected by gain. Selected frequencies are only saturated.
            </div>
        </div>
        <h3>Soccer</h3>
        <p>
            Implimentation of Tableau to chart players value over clubs.
        </p>

    </div>
</div>
{% endblock %}