{% extends "main/base.html" %}

{% block header %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6">
        <img src="static/spectro.png" style="width: 100%;height: auto;">
    </div>
    <div class="col-6">
        <svg class="button" width="100px" height="50px" onclick="location.href='https://github.com/trevor-wiers/spectro'">
            <rect x="5%" y="5%" rx="10" ry="10" width=90% height=90%
            style="fill:url(#myFill);stroke:url(#myLinearGradient);stroke-width:4px;" />
            <text x="50%" y="65%" text-anchor="middle" fill="rgb(224, 255, 255)" font-size="25" filter="url(#f1)">Code</text>
        </svg>
        <p>
            Audio plugin for visualizing audio in realtime as a spectrogram<br>
            Stereo enabled    
        </p>
    </div>
</div>
{% endblock %}